/*color - #ffa333*/
/*----------------------------------------------*/
/*Basic setup*/
/*----------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*----------------------------------------------*/
/*Reusable components*/
/*----------------------------------------------*/
.row{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    padding: 80px 0;
}
.box{
    padding: 1%;
}


/*------Headings-------*/

h1,p{
    margin: 0;
    color: #fff;
    font-size: 150%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}
h2{
    font-size: 180%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 40px;
}
p{
    margin-bottom: 20px;
    font-size: 250%;
}
h4{
    margin-bottom: 50px;
}
h3{
    font-size: 110%;
    margin-bottom: 15px;
}
/*----------PARAGRAPHS--------*/
.long-copy{
    line-height: 145%;
    width: 70%;
    margin:50px auto;
}
.box h4{
    font-size: 90%;
    line-height: 145%;
}
ion-icon {
    font-size: 64px;
    display: block;
    color: #ffa333;
    margin-bottom: 10px; 
}

/*--------Buttons--------*/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.6s, border 0.2s, color 0.2s;
}
.btn-full:link,
.btn-full:visited{
    background-color: #ffa333;
    border: 1px solid #ffa333;
    margin-right: 15px;

}
.btn-ghost:link,
.btn-ghost:link{
    border:1px solid #ffa333;
    color: #ffa333;
} 
.btn:hover,
.btn:active{
    background-color: #ff8c00;   
}
/*----------------------------------------------*/
/*Header*/
/*----------------------------------------------*/

header{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/background/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav{
    float: right;
    margin-top: 60px
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}
.main-nav li a:hover,
.main-nav li a:active{
   border-bottom: 2px solid #fff;
}

/*----------------------------------------------*/
/*Features*/
/*----------------------------------------------*/
.features {
    background-color: #f4f4f4;
}
.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}
.steps-box:last-child{
    padding-left: 3%; 
    margin-top: 70px; 
}
.iphone-screen{
    width: 40%;
}
.works-step{
    margin-bottom: 50px;
}
.works-step:last-of-type {
    margin-bottom: 80px;
}
.works-step div{
    color: #ffa333;
    border: 2px solid #ffa333;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}
.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}
