/*
nav{
    display:grid;
    grid-template-columns: 3fr;
    align-items: center;
    height: 5rem;
    position: fixed;
}

#navbar{
    grid-column: 3/4;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    color: #fff;
}

/*.nav{
    background-image: linear-gradient(90deg, transparent 0%, transparent 100%);
}*/

#logo{
    padding: 10px;
}*/